/*
This '../gtk-3.0/gtk.css' file and the '../gtk-3.0/settings.ini' file are modified from the aforenamed files of  Reactionary Creatures version of August 23, 2018 ( https://www.opendesktop.org/p/1255961/ ) by phob1an ( https://github.com/phobi4n ).
*/

/*
**********
color definitions
**********
*/
/* test-color used to temporarily investigate theme colors */
@define-color test_color rgb(255, 127, 191);

/* default color scheme; also, color names hardcoded in some GTK+ 3 applications */
@define-color theme_bg_color #d9d9d9;
@define-color theme_fg_color #252525;

@define-color theme_base_color #f9f9f9;
@define-color theme_text_color #191919;

@define-color theme_selected_bg_color #547faa;
@define-color theme_selected_fg_color #ffffff;

@define-color theme_tooltip_bg_color #ffff7f;
@define-color theme_tooltip_fg_color #0c0c0c;

/* dark color scheme */
@define-color dark_bg_color #cccccc;
@define-color dark_fg_color #050505;

/* button border colors */
@define-color button_border_light #f9f9f9;
@define-color button_border_dark #252525;
@define-color button_border_select #ffbf00;

/* box-shadow inset colors */
@define-color inset_light #f2f2f2;
@define-color inset_dark #8c8c8c;

/* progressbar and levelbar colors */
@define-color progressbar_color #3fbf3f;

@define-color levelbar_high_color #00ff00;
@define-color levelbar_low_color #ff0000;

/* miscellaneous colors used by GTK+ 3 */
@define-color info_bg_color #7fbfff;
@define-color info_fg_color #2c2c2c;

@define-color warning_bg_color #ff7f00;
@define-color warning_fg_color #323232;

@define-color question_bg_color #007fff;
@define-color question_fg_color #1f1f1f;

@define-color error_bg_color #ff0000;
@define-color error_fg_color #ffffff;

@define-color destructive_bg_color #7f0000;
@define-color destructive_fg_color #ffffff;

@define-color suggested_bg_color #3f3fff;
@define-color suggested_fg_color #ffffff;

@define-color link_color #0000ef;

@define-color error_color #ff0000;

/* widget colors */
@define-color titlebar_bg_color #4a7fb4;
@define-color titlebar_fg_color #ffffff;
@define-color titlebar_inactive_color #b9b9b9;

@define-color menubar_bg_color @dark_bg_color;
@define-color menubar_fg_color @dark_fg_color;

@define-color menubar_selected_bg_color #5a7fa4;
@define-color menubar_selected_fg_color #ececec;

@define-color toolbar_bg_color @dark_bg_color;
@define-color toolbar_fg_color @dark_fg_color;

@define-color menu_bg_color @theme_bg_color;
@define-color menu_fg_color @theme_fg_color;

/* on-screen display (OSD) */
@define-color osd_bg @dark_bg_color;
@define-color osd_fg @dark_fg_color;
@define-color osd_base @theme_base_color;

/* LightDM greeter colors */
@define-color lightdm_bg_color @dark_bg_color;
@define-color lightdm_fg_color @dark_fg_color;

/* window-manager colors */
@define-color wm_bg @titlebar_bg_color;

@define-color wm_border_focused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);
@define-color wm_border_unfocused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);

@define-color wm_title_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_title_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);

@define-color wm_icons_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_icons_focused_prelight @theme_selected_bg_color;
@define-color wm_icons_focused_pressed shade(@theme_selected_bg_color, 0.8);

@define-color wm_icons_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_unfocused_prelight @theme_selected_bg_color;
@define-color wm_icons_unfocused_pressed shade(@theme_selected_bg_color, 0.8);

/*
**********
base states
**********
*/
.background {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

* {
  -GtkScrollbar-has-backward-stepper: true;
  -GtkScrollbar-has-forward-stepper: true;
  -GtkScrolledwindow-scrollbar-spacing: 0;
  -GtkScrolledwindow-scrollbars-within-bevel: 1;
  -textview-error-underline-color: @error_color;
  -GtkToolbutton-icon-spacing: 6;
  -GtkTreeview-expander-size: 8;

  background-clip: padding-box;

  outline-color: alpha(@theme_selected_bg_color, 0.5);
  outline-style: solid;
  outline-offset: 0;

  /* inherit colors from parent */
  background-color: inherit;
  color: inherit;
}

*:selected,
*:selected:focus {
  background-color: @theme_selected_bg_color; /* affects the color-chooser's selected color */
  color: @theme_selected_fg_color;
}

*:disabled,
*:disabled:disabled {
  color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

/* apply effects to disabled and prelit images */
*:disabled {
  -gtk-icon-effect: dim;
}

*:hover {
  -gtk-icon-effect: highlight;
}

.gtkstyle-fallback {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

.gtkstyle-fallback:hover {
  background-color: shade(@theme_bg_color, 1.1);
  color: @theme_fg_color;
}

.gtkstyle-fallback:active {
  background-color: shade(@theme_bg_color, 0.9);
  color: @theme_fg_color;
}

.gtkstyle-fallback:disabled {
  background-color: shade(@theme_bg_color, 0.85);
  color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.gtkstyle-fallback:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

image,
label,
box,
grid {
  background-color: transparent;
}

/*
**********
visual effects
**********
*/
/* transitions */
notebook tab label,
notebook .hover-page,
notebook .active-page {
  transition: all 200ms ease-in;
}

/*
**********
assistant
**********
*/
assistant .sidebar highlight {
  font-weight: bold;
}

assistant .sidebar {
  padding: 4px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-right-color: shade(@theme_bg_color, 0.8);
  border-radius: 0;
  background-color: @theme_bg_color;
  color: mix(@theme_fg_color, @theme_bg_color, 0.1);
}

/*
**********
button
**********
*/
/* undepressed button: */
button {
  padding: 3px 6px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: @button_border_dark;
  border-top-color: @button_border_light;
  border-left-color: @button_border_light;
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  box-shadow:
    inset -1px 0 @inset_dark,
    inset 0 1px @inset_light,
    inset 1px 0 @inset_light,
    inset 0 -1px @inset_dark;
}

/* depressed button: */
button:active,
button:checked {
  border-color: @button_border_dark;
  border-bottom-color: @button_border_light;
  border-right-color: @button_border_light;
  background-color: shade(@theme_bg_color, 0.9);
  box-shadow:
    inset 1px 0 @inset_dark,
    inset -1px 0 @inset_light,
    inset 0 -1px @inset_light,
    inset 0 1px @inset_dark;
}

button:focus {
  border-color: @button_border_select;
}

button:hover {
  background-color: shade(@theme_bg_color, 1.1);
}

button:disabled {
  background-color: shade(@theme_bg_color, 0.85);
}

/*
**********
cell and row
**********
*/
.cell {
  border-width: 0;
  border-radius: 0;
}

.cell:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

row {
  padding: 4px;
}

row:selected {
  border: none;
  background-color: @theme_selected_bg_color;
  background-image: none;
  color: @theme_selected_fg_color;
}

/*
**********
check and radio
**********
*/
check,
radio {
  min-width: 16px;
  min-height: 16px;
  padding: 0px;
  margin: 3px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
}

check {
  -gtk-icon-source: url("assets/checkbox-unchecked.png");
}

check:disabled {
  -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.png");
}

check:active,
check:checked {
  -gtk-icon-source: url("assets/checkbox-checked.png");
}

check:active:disabled,
check:checked:disabled {
  -gtk-icon-source: url("assets/checkbox-checked-insensitive.png");
}


check:indeterminate {
  -gtk-icon-source: url("assets/checkbox-mixed.png");
}

check:indeterminate:disabled {
  -gtk-icon-source: url("assets/checkbox-mixed-insensitive.png");
}

radio {
  -gtk-icon-source: url("assets/radio-unselected.png");
}

radio:disabled {
  -gtk-icon-source: url("assets/radio-unselected-insensitive.png");
}

radio:active,
radio:checked {
  -gtk-icon-source: url("assets/radio-selected.png");
}

radio:active:disabled,
radio:checked:disabled {
  -gtk-icon-source: url("assets/radio-selected-insensitive.png");
}

radio:indeterminate {
  -gtk-icon-source: url("assets/radio-mixed.png");
}

radio:indeterminate:disabled {
  -gtk-icon-source: url("assets/radio-mixed-insensitive.png");
}

radiobutton:hover,
checkbutton:hover {
  background-color: shade(@theme_bg_color, 1.1);
}

check:focus,
radio:focus {
  border-color: @button_border_select;
}

/*
**********
link button
**********
*/
*:link,
button:link {
  color: @link_color;
}

*:link:visited,
button:link:visited {
  color: mix(@link_color, @theme_fg_color, 0.2);
}

*:selected *:link:visited,
*:selected button:visited:link {
  color: mix(@link_color, @theme_selected_fg_color, 0.65);
}

*:link:hover,
button:hover:link {
  color: shade(mix(@link_color, @theme_fg_color, 0.2), 1.15);
}

button:link > label,
button:visited > label {
  text-decoration-line: underline;
}

/*
**********
column-header
**********
*/
treeview header button,
treeview header button:active {
  border-width: 0 1px 1px 0;
  border-radius: 0;
}

treeview header:last-child button {
  border-width: 0 0 1px 0;
}

/*
**********
content view
**********
*/
.content-view.view {
  background-color: @theme_base_color;
}

.content-view.view:hover {
  background-color: alpha(@theme_selected_bg_color, 0.6);
}

.content-view.view:selected,
.content-view.view:active {
  background-color: @theme_selected_bg_color;
}

.content-view.view:disabled {
  background-color: shade(@theme_base_color, 0.9);
}

view.content-view check {
  background-color: transparent;
}

.content-view.view check {
  background-color: transparent;
}

/*
**********
drawing area
**********
*/
drawingarea {
  background-color: @theme_base_color;
}

drawingarea:disabled {
  background-color: shade(@theme_base_color, 0.9);
}

/*
**********
gtkhtml
**********
*/
GtkHTML {
  background-color: @theme_base_color;
  color: @theme_text_color;
}

/*
**********
calendar
**********
*/
calendar {
  padding: 3px;
}

calendar:indeterminate {
  color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

calendar.view,
calendar.header,
calendar button {
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  background-color: transparent;
  background-image: none;
}

calendar highlight,
calendar.highlight {
  border-width: 0;
  background-color: transparent;
  color: @theme_selected_bg_color;
}

calendar:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/*
**********
combobox entry
**********
*/
.primary-toolbar combobox.combobox-entry entry,
combobox.combobox-entry entry {
  background-image: none;
}

button.combo:not(:only-child) {
  background-image: none;
}

/*
**********
entry
**********
*/
entry {
  padding: 4px 3px;
  min-width: 18px;
  min-height: 18px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: @button_border_dark;
  border-bottom-color: @button_border_light;
  border-right-color: @button_border_light;
  background-color: @theme_base_color;
  color: @theme_fg_color;
  box-shadow:
    inset 1px 0 @inset_dark,
    inset 0 1px @inset_dark,
    inset -1px 0 @inset_light,
    inset 0 -1px @inset_light;
}

entry:selected,
entry selection {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

entry:disabled {
  background-color: shade(@theme_bg_color, 0.95);
  background-image: none;
  color: mix(@theme_text_color, @theme_base_color, 0.5);
}

entry progressbar {
  background-color: @theme_bg_color;
  background-image: none;
  color: @theme_fg_color;
}

entry entry {
  background-color: transparent;
  background-image: none;
}

/*
**********
expander
**********
*/
expander arrow {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

expander arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

expander arrow:checked {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

expander {
  color: alpha(currentColor, 0.7);
}

expander:hover {
  color: alpha(currentColor, 0.8);
}

expander:checked {
  color: alpha(currentColor, 0.9);
}

/*
**********
list boxes
**********
*/
/* controls the side-bar colors in the file-chooser and the Pamac package-manager; and the bottom two sections of the "Visual" page of GTK+ 3 Inspector and all the sections on its "General" page: */
list {
  background-color: @theme_base_color;
  color: @theme_fg_color;
}

list:disabled {
  background-color: shade(@theme_base_color, 0.925);
  color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

row.activatable.has-open-popup,
row.activatable:hover {
  background-color: shade(@theme_selected_bg_color, 1.05);
  color: shade(@theme_selected_fg_color, 1.05);
}

/*
**********
frame
**********
*/
frame > border {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@theme_bg_color, 0.8);
  border-radius: 0;
  box-shadow: none;
}

frame.flat > border,
frame > border.flat,
statusbar frame > border {
  border: none;
}

.frame {
  background: none;
}

/*
**********
scrolled window
**********
*/
scrolledwindow .frame {
  border: none;
  border-radius: 0;
}

/* file chooser white bg color on iconview */
.nautilus-window scrolledwindow {
  background: @theme_base_color;
}

/* avoid double borders when a viewport is packed into a GtkScrolledWindow */
scrolledwindow viewport frame {
  border-style: none;
}

/*
**********
iconview
**********
*/
view.view.cell:selected {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@theme_selected_bg_color, 0.9);
  border-radius: 0px;
  background-color: @theme_selected_bg_color;
  background-image: none;
  color: @theme_selected_fg_color;
}

rubberband,
.rubberband,
view rubberband,
.view.rubberband,
.content-view.view.rubberband {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@theme_selected_bg_color, 0.9);
  border-radius: 0;
  background-color: alpha(@theme_selected_bg_color, 0.3);
}

iconview:selected,
iconview text:selected,
iconview text selection {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/*
**********
infobar
**********
*/
infobar {
  border-width: 0;
  border-style: none;
}

.info {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@info_bg_color, 0.8);
  background-color: @info_bg_color;
  background-image: none;
  color: @info_fg_color;
}

.info button {
  background-color: @info_bg_color;
  color: @info_fg_color;
}

.info button:active,
.info button:checked {
  background-color: shade(@info_bg_color, 0.9);
}

.info button:hover {
  background-color: shade(@info_bg_color, 1.1);
}

.info button:disabled {
  background-color: shade(@info_bg_color, 0.85);
}

.warning {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@warning_bg_color, 0.8);
  background-image: none;
  background-color: @warning_bg_color;
  color: @warning_fg_color;
}

.warning button {
  background-color: @warning_bg_color;
  color: @warning_fg_color;
}

.warning button:active,
.warning button:checked {
  background-color: shade(@warning_bg_color, 0.9);
}

.warning button:hover {
  background-color: shade(@warning_bg_color, 1.1);
}

.warning button:disabled {
  background-color: shade(@warning_bg_color, 0.85);
}

.question {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@question_bg_color, 0.8);
  background-image: none;
  background-color: @question_bg_color;
  color: @question_fg_color;
}

.question button {
  background-color: @question_bg_color;
  color: @question_fg_color;
}

.question button:active,
.question button:checked {
  background-color: shade(@question_bg_color, 0.9);
}

.question button:hover {
  background-color: shade(@question_bg_color, 1.1);
}

.question button:disabled {
  background-color: shade(@question_bg_color, 0.85);
}

.error {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@error_bg_color, 0.8);
  background-image: none;
  background-color: @error_bg_color;
  color: @error_fg_color;
}

.error button {
  background-color: @error_bg_color;
  color: @error_fg_color;
}

.error button:active,
.error button:checked {
  background-color: shade(@error_bg_color, 0.9);
}

.error button:hover {
  background-color: shade(@error_bg_color, 1.1);
}

.error button:disabled {
  background-color: shade(@error_bg_color, 0.85);
}

/*
**********
symbolic images
**********
*/
image {
  color: alpha(currentColor, 0.5);
}

image:hover {
  color: alpha(currentColor, 0.9);
}

image:selected {
  color: @theme_selected_fg_color;
}

/* test */
image:disabled {
  color: alpha(currentColor, 0.3);
}

.view image {
  color: alpha(currentColor, 0.9);
}

.view image:selected {
  color: @theme_selected_fg_color;
}

/*
**********
miscellaneous
**********
*/
.floating-bar {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@theme_bg_color, 0.8);
  border-radius: 0px;
  background-color: @theme_bg_color;
  background-image: none;
  color: @theme_fg_color;
}

.floating-bar button {
  background-image: none;
}

.view label:disabled,
label:disabled {
  color: alpha(currentColor, 0.5);
}

label.separator {
  color: @theme_fg_color;
}

label.separator:backdrop {
  color: shade(@theme_fg_color, 1.3);
}

label selection {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.dnd {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@theme_selected_bg_color, 0.9);
}

grip {
  background-color: transparent;
}

arrow,
combobox arrow {
  color: alpha(currentColor, 0.7);
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px;
}

combobox:drop(active) {
  background-image: none;
}

/*
**********
menu
**********
*/
menu {
  margin: 4px; /* avoid minify of menu */
  padding: 3px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: @button_border_dark;
  border-top-color: @button_border_light;
  border-left-color: @button_border_light;
  background-color: @menu_bg_color;
  color: @menu_fg_color;
  box-shadow:
    inset -1px 0 @inset_dark,
    inset 0 1px @inset_light,
    inset 1px 0 @inset_light,
    inset 0 -1px @inset_dark;
}

/* hover-effect on play-button in Ubuntu soundmenu */
menu:selected {
  background-color: @theme_selected_bg_color;
}

menu button {
  border-width: 0;
  background-color: @menu_bg_color;
  background-image: none;
}

.context-menu {
  font: initial;
}

menu > arrow.top,
.menu > arrow.top {
  margin-top: 3px;
  margin-bottom: 0px;
  border-bottom: 1px solid shade(@theme_bg_color, 0.9);
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom,
.menu > arrow.bottom {
  margin-top: 3px;
  margin-bottom: -3px;
  border-top: 4px solid shade(@theme_bg_color, 0.9);
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/*
**********
menubar
**********
*/
menubar {
  -GtkWidget-window-dragging: true;
  border-style: none;
  background-color: @menubar_bg_color;
  background-image: none;
  color: @menubar_fg_color;
}

/*
**********
menubar item
**********
*/
menubar menuitem,
menubar > menuitem {
  padding: 3px 5px;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: @menubar_fg_color;
}

menubar menuitem:hover,
menubar > menuitem:hover {
  border-color: mix(@menubar_bg_color, @menubar_fg_color, 0.21);
  background-color: @menubar_selected_bg_color;
  background-image: none;
  color: @menubar_selected_fg_color;
}

menubar menuitem *:hover,
menubar > menuitem *:hover {
  color: shade(@menubar_fg_color, 1.08);
}

/*
**********
menuitem
**********
*/
treemenu menuitem {
  padding: 0;
  border-width: 0;
}

menu menuitem,
menu > menuitem {
  padding: 3px 3px;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
  background-color: @menu_bg_color;
  background-image: none;
  color: @menu_fg_color;
}

menu menuitem:hover,
menu menuitem:active {
  border-color: shade(@theme_selected_bg_color, 0.9);
  background-color: @theme_selected_bg_color;
  background-image: none;
}

menu menuitem:hover,
menu menuitem:active,
menu menuitem *:hover,
menu menuitem *:active {
  color: @theme_selected_fg_color;
}

menu menuitem:disabled,
menu menuitem *:disabled {
  color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

/* menu arrow */
menu menuitem arrow,
.menu menuitem arrow {
  min-height: 16px;
  min-width: 16px;
}

menu menuitem arrow:dir(ltr),
.menu menuitem arrow:dir(ltr) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-left: 10px;
}

menu menuitem arrow:dir(rtl),
.menu menuitem arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
  margin-right: 10px;
}

menuitem check,
menuitem radio {
  min-width: 16px;
  min-height: 16px;
  padding: 0px;
  margin: 4px;
  border-style: none;
  background-color: transparent;
}

menuitem calendar:indeterminate {
  color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

menuitem calendar button {
  border-style: none;
  background-color: transparent;
  background-image: none;
}

menuitem entry {
  border-color: shade(@menu_bg_color, 0.7);
  background-color: @menu_bg_color;
  background-image: none;
  color: @menu_fg_color;
}

menuitem accelerator {
  color: alpha(@menu_fg_color, 0.6);
}

menuitem accelerator:hover {
  color: alpha(@theme_selected_fg_color, 0.8);
}

menuitem accelerator:disabled {
  color: alpha(mix(@menu_fg_color, @menu_bg_color, 0.5), 0.6);
}

model menuitem box image {
  padding-right: 4px;
}

/*
**********
popover
**********
*/
popover.background {
  padding: 6px;
  background: shade(@theme_bg_color, 1.075);
}

.csd popover.background,
popover.background {
  border: 1px solid black;
}

modelbutton {
  padding: 2px;
}

modelbutton:active:hover,
modelbutton:hover,
modelbutton:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/*
**********
notebook
**********
*/
notebook {
  background-color: @theme_bg_color;
  background-image: none;
  border-radius: 0;
  padding: 0;
  background-clip: border-box;
  border-color: shade(@theme_bg_color, 0.82);
  border-width: 0;
  border-style: solid;
}

/* the background color #000000 is displayed for some tabbed pages when 'background-color:' other than 'background-color: none;' is used: */
notebook > stack:not(:only-child) {
  background-image: none;
  border-radius: 0;
  padding: 0;
  background-clip: border-box;
  border-color: shade(@theme_bg_color, 0.82);
  border-width: 1px;
  border-style: solid;
}

notebook > frame {
  border-width: 1px;
}

notebook > header {
  border-width: 0;
  background-color: @theme_bg_color;
}

notebook > header > frame {
  border-color: @theme_bg_color;
  box-shadow: none;
}

notebook tab {
  font-weight: bold;
  border-width: 1px;
  margin: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: @button_border_dark;
  border-top-color: @button_border_light;
  border-left-color: @button_border_light;
  background-color: shade(@theme_bg_color, 0.875);
  color: shade(@theme_bg_color, 0.35);
}

notebook tab:checked {
  margin: 0;
  padding: 3px;
  background-color: @theme_bg_color;
}

notebook tab label {
  padding: 4px 8px 4px 8px;
}

notebook header.top tab:checked {
  padding: 3px 7px 1px 7px;
  box-shadow:
    inset -1px 0 @inset_dark,
    0 1px @theme_bg_color,
    inset 1px 0 @inset_light,
    inset 0 1px @inset_light;
}

notebook header.top tab {
  padding: 2px 5px 0 5px;
  border-bottom-width: 0;
  border-radius: 0px 0px 0 0;
  margin-bottom: 0;
  box-shadow:
    inset -1px 0 @inset_dark,
    inset 1px 0 @inset_light,
    inset 0 1px @inset_light;
}

notebook header.right tab:checked {
  padding: 4px 6px 4px 1px;
}

notebook header.right tab {
  padding: 3px 4px 3px 0;
  border-radius: 0 0px 0px 0;
  border-left-width: 0;
  margin-left: 0;
  box-shadow:
    inset -1px 0 @inset_dark,
    inset 0 -1px @inset_dark,
    -1px 0 @theme_bg_color,
    inset 0 1px @inset_light;
}

notebook header.bottom tab:checked {
  padding: 1px 7px 4px 7px;
  box-shadow:
    inset -1px 0 @inset_dark,
    inset 0 -1px @inset_dark,
    inset 1px 0 @inset_light,
    0 -1px @theme_bg_color;
}

notebook header.bottom tab {
  padding: 0 5px 3px 5px;
  border-radius: 0 0 0px 0px;
  border-top-width: 0;
  margin-top: 0;
  box-shadow:
    inset -1px 0 @inset_dark,
    inset 0 -1px @inset_dark,
    inset 1px 0 @inset_light;
}

notebook header.left tab:checked {
  padding: 4px 1px 4px 6px;
  box-shadow:
    1px 0 @theme_bg_color,
    inset 0 -1px @inset_dark,
    inset 1px 0 @inset_light,
    inset 0 1px @inset_light;
}

notebook header.left tab {
  padding: 3px 0 3px 4px;
  border-right-width: 0;
  border-radius: 0px 0 0 0px;
  margin-right: 0;
  box-shadow:
    inset 0 -1px @inset_dark,
    inset 1px 0 @inset_light,
    inset 0 1px @inset_light;
}

notebook GtkDrawingArea {
  background-color: @theme_base_color;
}

notebookframe {
  border-width: 1px;
}

/* close button styling */
notebook tab button,
notebook tab button:active,
notebook tab button:hover {
  padding: 1px;
  border-width: 0px;
  border-radius: 0px;
  border-style: solid;
  border-color: transparent;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  color: mix(@theme_text_color, @theme_base_color, 0.5);
}

/* COMMON */
notebook > header.top > tabs > arrow.up,
notebook > header.bottom > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

notebook > header.top > tabs > arrow.up:last-child,
notebook > header.bottom > tabs > arrow.up:last-child {
  margin-left: 2px;
}

notebook > header.top > tabs > arrow.down,
notebook > header.bottom > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

notebook > header.top > tabs > arrow.down:first-child,
notebook > header.bottom > tabs > arrow.down:first-child {
  margin-right: 2px;
}

notebook > header.left > tabs > arrow.up,
notebook > header.right > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

notebook > header.left > tabs > arrow.up:last-child,
notebook > header.right > tabs > arrow.up:last-child {
  margin-top: 2px;
}

notebook > header.left > tabs > arrow.down,
notebook > header.right > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

notebook > header.left > tabs > arrow.down:first-child,
notebook > header.right > tabs > arrow.down:first-child {
  margin-bottom: 2px;
}

notebook > header > tabs > arrow {
  color: @theme_fg_color;
}

notebook > header > tabs > arrow:hover {
  color: shade(@theme_fg_color, 1.2);
}

notebook > header > tabs > arrow:active {
  color: shade(@theme_fg_color, 0.8);
}

notebook > header > tabs > arrow:disabled {
  color: shade(@theme_bg_color, 0.6);
}

/*
**********
pane separator
**********
*/
paned > separator {
  background-color: @theme_bg_color;
  color: transparent;
}

paned .sidebar {
  border-style: none;
}

/*
**********
progressbar
**********
*/
progressbar trough {
  background-color: #bfbfbf;
  border-color: #7f7f7f;
  border-width: 1px;
  border-style: inset;
  padding: 2px;
}

progressbar progress {
  background-color: @progressbar_color;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

/* levelbar */
levelbar trough {
  padding: 1px;
  border-radius: 0px;
  background-color: shade(@theme_bg_color, 0.85);
  border: 1px solid shade(@theme_bg_color, 0.5);
}

levelbar block {
  border-width: 2px;
  border-style: solid;
  padding: 2px;
  border-radius: 0px;
  border-color: shade(@theme_selected_bg_color, 0.9);
  background-color: @theme_selected_bg_color;
}

levelbar block.high {
  border-color: shade(@levelbar_high_color, 0.80);
  background-image: linear-gradient(to bottom, shade(@levelbar_high_color, 1.2), @levelbar_high_color 75%, shade(@levelbar_high_color, 0.9));
}

levelbar block.low {
  border-color: shade(@levelbar_low_color, 0.80);
  background-image: linear-gradient(to bottom, shade(@levelbar_low_color, 1.2), @levelbar_low_color 75%, shade(@levelbar_low_color, 0.9));
}

levelbar block.empty {
  border-color: alpha(@theme_fg_color, 0.1);
  background-color: transparent;
  background-image: none;
}

/*
**********
scale
**********
*/
scale {
  min-height: 12px;
  min-width: 12px;
  padding: 12px;
  border-width: 0px;
  border-radius: 0px;
}

scale trough {
  padding: 0;
  margin: 1px 1px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: @button_border_dark;
  border-bottom-color: @button_border_light;
  border-right-color: @button_border_light;
  background-color: transparent; /* dishevels the scale troughs of XFCE's 'xfce4-terminal --preferences' "Position" section under the "Drop-down" tab if a color other than 'transparent' is used */
  color: @theme_fg_color;
  box-shadow:
    inset 1px 0 @inset_dark,
    inset 0 1px @inset_dark,
    inset -1px 0 @inset_light,
    inset 0 -1px @inset_light;
}

scale trough:disabled {
  background-color: alpha(black, 0.15);
}

/* this affects the scale trough on the lesser/smaller side of the slider: */
scale highlight {
  background-color: alpha(#00ff00, 0.125);
  box-shadow:
    inset 1px 0 @inset_dark,
    inset 0 1px @inset_dark,
    inset -1px 0 @inset_light,
    inset 0 -1px @inset_light;
}

scale marks {
  color: alpha(currentColor, 0.55);
}

scale marks.top,
scale.fine-tune marks.top {
  margin-top: -6px;
  margin-bottom: 6px;
  margin-left: -6px;
  margin-right: 6px;
}

scale marks.bottom,
scale.fine-tune marks.bottom {
  margin-top: 6px;
  margin-bottom: -6px;
  margin-left: 6px;
  margin-right: -6px;
}

scale.horizontal indicator {
  min-height: 6px;
  min-width: 1px;
}

scale.vertical indicator {
  min-height: 1px;
  min-width: 6px;
}

scale slider {
  border-radius: 0px;
  min-height: 21px;
  min-width: 16px;
  margin: -6px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("assets/slider-horiz.png");
  background-position: center center;
}

scale slider:focus {
  background-image: url("assets/slider-horiz-focus.png");
}

scale.vertical slider {
  min-height: 16px;
  min-width: 21px;
  background-image: url("assets/slider-vert.png");
}

scale.vertical slider:focus {
  background-image: url("assets/slider-vert-focus.png");
}

/*
**********
scrollbar
**********
*/
scrollbar {
  border-width: 0;
  border-style: solid;
  padding: 0;
  background-color: shade(@theme_bg_color, 0.95);
  background-image: none;
  border-image: none;
}

scrollbar trough {
  border: none;
  background: shade(@theme_bg_color, 0.85);
}

scrollbar button {
  padding: 4px;
}

scrollbar.vertical button {
  min-height: 6px;
}

scrollbar.horizontal button {
  min-width: 6px;
}

scrollbar slider {
  min-height: 45px;
  min-width: 12px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: @button_border_dark;
  border-top-color: @button_border_light;
  border-left-color: @button_border_light;
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  box-shadow:
    inset -1px 0 @inset_dark,
    inset 0 1px @inset_light,
    inset 1px 0 @inset_light,
    inset 0 -1px @inset_dark;
}

scrollbar.horizontal slider {
  min-width: 45px;
  min-height: 12px;
}

scrollbar slider.fine-tune:hover:active {
  border-width: 2px;
  border-color: transparent;
}

scrollbar.vertical button.down {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scrollbar.horizontal button.down {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

scrollbar.horizontal button.up {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

/* affects the Whisker Menu's main-window (i.e., programs list) vertical scrollbar */
treeview ~ scrollbar.vertical {
  border-top: 1px solid transparent;
  margin-top: -1px;
}

/*
**********
separator
**********
*/
separator,
.separator,
.view.separator,
.view separator,
.sidebar.view separator,
.sidebar.view.separator {
  min-width: 1px;
  min-height: 1px;
  -gtk-icon-source: none;
  border-style: none;
  background-color: transparent;
  background-image: image(shade(@theme_bg_color, 0.9));
  background-size: 1px 1px;
}

/* button separator */
button separator,
button.separator {
  min-width: 1px;
  min-height: 1px;
  background-image: image(shade(@theme_bg_color, 0.95));
}

button separator:disabled,
button.separator:disabled {
  background-image: image(shade(@theme_bg_color, 0.85));
}

/* x-bar separator */
toolbar.separator,
toolbar separator,
.primary-toolbar.separator,
.primary-toolbar separator {
  background-image: image(shade(@toolbar_bg_color, 0.95));
  border: 3px solid transparent;
}

headerbar separator,
headerbar.separator,
headerbar.titlebar separator,
headerbar.titlebar.separator {
  background-image: image(shade(@titlebar_bg_color, 0.35));
}

/* x-bar button separator */
toolbar button separator,
toolbar button.separator,
toolbar.primary-toolbar button separator,
toolbar.primary-toolbar button.separator {
  background-image: image(shade(@toolbar_bg_color, 0.95));
}

headerbar button separator,
headerbar button.separator,
headerbar.titlebar button separator,
headerbar.titlebar button.separator {
  background-image: image(shade(@titlebar_bg_color, 0.95));
}

/* titlebutton separator */
.titlebar separator.titlebutton {
  padding: 0px;
  background-image: image(shade(currentColor, 0.9));
}

/* x-bar button separator disabled */
toolbar button separator:disabled,
toolbar button.separator:disabled,
toolbar.primary-toolbar button separator:disabled,
toolbar.primary-toolbar button.separator:disabled {
  background-image: image(shade(@toolbar_bg_color, 0.85));
}

headerbar button separator:disabled,
headerbar button.separator:disabled,
headerbar.titlebar button separator:disabled,
headerbar.titlebar button.separator:disabled {
  background-image: image(shade(@titlebar_bg_color, 0.85));
}

menuitem separator,
menuitem.separator {
  background-image: image(shade(@menu_bg_color, 0.9));
}

combobox separator,
combobox.separator {
  background-image: none;
  background-color: transparent;
}

/*
**********
sidebar
**********
*/
/* controls the sidebar colors in the Thunar file-manager and the Catfish file-searcher: */
.sidebar,
.sidebar.view,
.sidebar .view,
placessidebar .view,
.sidebar scrolledwindow {
  background-color: shade(@theme_bg_color, 1.05);
  color: @theme_fg_color;
}

.sidebar row:hover,
.sidebar .view:hover,
placessidebar .view row:hover {
  border-color: shade(@theme_selected_bg_color, 1.05);
  background-color: shade(@theme_selected_bg_color, 1.05);
  background-image: none;
  color: @theme_selected_fg_color;
}

/*
**********
spinbutton
**********
*/
spinbutton {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

spinbutton:disabled {
  color: mix(@theme_text_color, @theme_base_color, 0.7);
}

spinbutton.horizontal entry {
  padding: 0px 4px;
}

spinbutton.horizontal button.down {
  margin-right: 0;
}

spinbutton.horizontal button.up {
  margin-left: 0;
}

spinbutton.vertical entry {
  padding: 4px 0px;
}

spinbutton:not(.vertical) selection:focus,
spinbutton:not(.vertical) selection {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/*
**********
spinner
**********
*/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}

spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}

spinner:checked:disabled {
  opacity: 0.5;
}

/*
**********
statusbar
**********
*/
statusbar {
  padding: 4px;
  color: @theme_fg_color;
}

statusbar frame {
  border: none;
}

/*
**********
switch
**********
*/
switch {
  padding: 0;
  margin: 0;
  border-radius: 0px;
  border-width: 1px;
  border-color: shade(@theme_bg_color, 0.8);
  background-color: shade(@theme_bg_color, 0.95);
  background-image: none;
  color: @theme_fg_color;
}

switch:checked {
  border-color: shade(@theme_selected_bg_color, 0.9);
  background-color: @theme_selected_bg_color;
  background-image: none;
  color: @theme_selected_fg_color;
}

switch:disabled {
  border-color: shade(@theme_bg_color, 0.85);
  background-color: shade(@theme_bg_color, 0.9);
  background-image: none;
  color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

switch slider {
  min-width: 20px;
  min-height: 20px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: @button_border_dark;
  border-top-color: @button_border_light;
  border-left-color: @button_border_light;
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  box-shadow:
    inset -1px 0 @inset_dark,
    inset 0 1px @inset_light,
    inset 1px 0 @inset_light,
    inset 0 -1px @inset_dark;
}

switch slider:disabled {
  background-color: shade(@theme_bg_color, 0.85);
}

switch slider:hover {
  background-color: shade(@theme_bg_color, 1.1);
}

switch slider:focus {
  border-color: @button_border_select;
}

/*
**********
textview
**********
*/
textview {
  background-color: @theme_base_color;
  color: @theme_text_color;
}

iconview:selected:focus,
.view:selected,
.view text:selected,
textview text:selected,
.view text selection,
textview text selection {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/* flowbox */
flowbox flowboxchild:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/*
**********
color chooser
**********
*/
colorswatch,
colorswatch:selected {
  border-width: 1px;
  border-style: solid;
  border-color: alpha(black, 0.1);
  border-radius: 0px;
  background-color: transparent;
  background-clip: border-box;
}

colorswatch:hover,
colorswatch:selected:hover {
  border-color: alpha(black, 0.3);
}

colorswatch.color-light:selected:hover,
colorswatch.color-dark:selected:hover {
  background-image: none;
}

colorswatch.left,
colorswatch:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

colorswatch.right,
colorswatch:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

colorswatch:only-child {
  border-radius: 0px;
}

colorswatch.top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

colorswatch.bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

colorchooser #add-color-button {
  background-clip: padding-box;
  border-color: alpha(black, 0.1);
  background-color: shade(@theme_bg_color, 0.95);
  color: @theme_fg_color;
}

colorchooser #add-color-button:hover {
  border-color: alpha(black, 0.3);
  background-color: shade(@theme_bg_color, 0.90);
  color: @theme_fg_color;
}

.color-active-badge,
.color-active-badge:selected {
  border-width: 1px;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
}

.color-active-badge.color-light,
.color-active-badge.color-light:hover {
  border-color: alpha(black, 0.3);
  color: alpha(black, 0.3);
}

.color-active-badge.color-dark,
.color-active-badge.color-dark:hover {
  border-color: alpha(white, 0.3);
  color: alpha(white, 0.3);
}

GtkColorEditor colorswatch {
  border-radius: 0px;
}

GtkColorEditor colorswatch.color-dark:hover,
GtkColorEditor colorswatch.color-light:hover {
  background-image: none;
  border-color: alpha(black, 0.3);
}

GtkColorEditor button.color {
  padding: 2px;
}

/*
**********
headerbar
**********
*/
headerbar {
  background-color: transparent;
}

headerbar:not(.titlebar) {
  padding: 4px;
  border-width: 0;
  border-style: solid;
  border-color: shade(@theme_bg_color, 0.8);
  background-color: @theme_bg_color;
  background-image: none;
  color: @theme_fg_color;
}

headerbar .title {
  font-weight: bold;
  padding: 0 12px;
}

headerbar .subtitle {
  font-size: smaller;
  padding: 0 12px;
}

headerbar entry:active,
headerbar entry selection:focus {
  border-width: 1px;
  border-color: shade(@theme_selected_bg_color, 0.6);
}

/*
**********
toolbar
**********
*/
toolbar {
  padding: 4px;
  border-style: none;
  background-color: @toolbar_bg_color;
  background-image: none;
  color: @toolbar_fg_color;
}

toolbar button {
  padding: 2px;
}

toolbar button.text-button {
  padding: 2px 4px;
}

toolbar button.image-button {
  padding: 2px 4px;
}

toolbar:disabled {
  background-color: shade(@toolbar_bg_color, 0.9);
  color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.5);
}

/* menubar toolbars */
toolbar menubar {
  -GtkToolbar-button-relief: normal;
}

/*
**********
primary-toolbar
**********
*/
.primary-toolbar,
.primary-toolbar toolbar,
.primary-toolbartoolbar {
  -GtkWidget-window-dragging: true;
  padding: 4px;
  border-width: 0;
  border-style: solid;
  border-color: shade(@toolbar_bg_color, 0.8);
  background-color: @toolbar_bg_color;
  background-image: none;
  color: @toolbar_fg_color;
}

.primary-toolbar combobox,
toolbar.primary-toolbar button {
  padding: 6px 8px;
  color: @toolbar_fg_color;
}

.primary-toolbar entry,
toolbar entry {
  background-image: none;
}

.primary-toolbar entry:active,
.primary-toolbar entry selection:focus,
toolbar entry:active,
toolbar entry selection:focus {
  background-image: none;
}

/* inline-toolbar */
.inline-toolbartoolbar {
  -GtkToolbar-button-relief: normal;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: shade(@theme_bg_color, 0.8);
  border-radius: 0;
  background-color: @theme_bg_color;
  background-image: none;
}

.inline-toolbartoolbar:last-child {
  border-width: 1px;
  border-color: shade(@theme_bg_color, 0.8);
  border-radius: 0;
}

toolbar.inline-toolbar button {
  background-image: none;
}

/*
**********
tooltip
**********
*/
tooltip {
  border-radius: 0;
  box-shadow: none;
}

tooltip.background {
  border: 1px solid shade(@theme_tooltip_fg_color, 0.8);
  background-color: @theme_tooltip_bg_color;
  background-clip: padding-box;
}

tooltip.background label {
  padding: 1px;
}

tooltip decoration {
  background-color: transparent;
}

tooltip * {
  background-color: transparent;
  color: @theme_tooltip_fg_color;
}

/*
**********
treeview
**********
*/
treeview.dnd {
  border-width: 1px;
  border-style: solid;
  border-color: @theme_selected_bg_color;
  border-radius: 0;
}

treeview entry {
  border-radius: 0;
  background-color: @theme_base_color;
  background-image: none;
}

/* treeview */
treeview.view:selected,
row:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/*
**********
viewport
**********
*/
viewport frame {
  border-width: 0;
}

/* controls the color of the main fields of the file-chooser, Thunar, Mousepad and Wisker Menu; and the top section of the "Visual" page of GTK+ 3 Inspector and most of its other pages' main fields: */
.view {
  background-color: @theme_base_color;
  color: @theme_text_color;
}

.view:disabled {
  background-color: shade(@theme_base_color, 0.925);
  color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

/*
**********
actionbar
**********
*/
actionbar {
  padding: 4px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: shade(@theme_bg_color, 0.8);
  background-color: @theme_bg_color;
  background-image: none;
  color: @theme_fg_color;
}

actionbar button.text-button {
  padding: 4px;
}

actionbar button.image-button {
  padding: 6px;
}

actionbar .title {
  font-weight: bold;
  padding: 0 12px;
}

actionbar .subtitle {
  font-size: smaller;
  padding: 0 12px;
}

/*
**********
searchbar
**********
*/
searchbar {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: shade(@theme_bg_color, 0.8);
  background-color: shade(@theme_bg_color, 0.98);
}

searchbar button.close-button {
  padding: 4px;
}

/*
**********
various choosers
**********
*/
button.font separator,
button.font.separator,
button.file separator,
button.file.separator {
  background-color: transparent;
}

button.font label:last-child,
button.file image:last-child {
  color: alpha(currentColor, 0.7);
}

/*
**********
app notifications
**********
*/
.app-notification {
  border-style: solid;
  border-color: shade(@theme_base_color, 0.8);
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 0px 0px;
  padding: 8px;
  background-color: @theme_base_color;
  background-image: none;
  color: @theme_text_color;
}

.app-notification border {
  border: none;
}

/*
**********
on-screen display (OSD)
**********
*/
.background.osd {
  background-color: @osd_bg;
  color: @osd_fg;
}

overlay.osd {
  background-color: transparent;
}

.osd frame {
  background-clip: border-box;
  background-origin: border-box;
}

/*
**********
destructive-action button
**********
*/
.destructive-action {
  background-color: @destructive_bg_color;
  background-image: none;
  color: @destructive_fg_color;
}

.destructive-action:hover {
  background-color: shade(@destructive_bg_color, 1.1);
}

.destructive-action:disabled {
  background-color: shade(@destructive_bg_color, 0.85);
}

/*
**********
suggested-action button
**********
*/
.suggested-action {
  background-color: @suggested_bg_color;
  background-image: none;
  color: @suggested_fg_color;
}

.suggested-action:hover {
  background-color: shade(@suggested_bg_color, 1.1);
}

.suggested-action:disabled {
  background-color: shade(@suggested_bg_color, 0.85);
}

/*
**********
selection-mode
**********
*/
.selection-mode headerbar,
.selection-mode toolbar {
  background-image: none;
}

/*
**********
client-side decorations (CSD)
**********
*/
.titlebar,
headerbar.titlebar,
.titlebar headerbar {
  border-radius: 0;
  padding: 2px;
  background-color: @titlebar_bg_color;
  background-position: right;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: @titlebar_fg_color;
}

headerbar .title,
headerbar .subtitle {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

headerbar .title:backdrop,
headerbar .subtitle:backdrop,
.titlebar:backdrop,
headerbar.titlebar:backdrop {
  background-color: @titlebar_inactive_color;
  color: #656565;
  text-shadow: none;
}

.titlebar .titlebutton {
  padding: 0;
}

.titlebar.default-decoration {
  border: none;
  box-shadow: none;
}

.tiled .titlebar {
  border-radius: 0;
}

.maximized .titlebar {
  border-radius: 0;
}

.titlebar.default-decoration {
  border: none;
  box-shadow: none;
}

.titlebar .title {
  font-weight: bold;
}

.tiled decoration {
  border-radius: 0;
}

/* client-side decorations (CSD) */
decoration.csdtooltip,
tooltip {
  border-radius: 0;
  box-shadow: none;
}

/* controls borders/shadows around windows: */
decoration {
  margin: 1px;
  border: none;
  box-shadow: 0 0 0 1px @titlebar_bg_color;
}

/* controls borders/shadows around windows: */
decoration:backdrop {
  box-shadow: 0 0 0 1px @titlebar_inactive_color;
}

.tiled decoration,
.maximized decoration,
.fullscreen decoration,
.ssd decoration.maximized {
  border-radius: 0;
}

.popup decoration {
  box-shadow: none;
}

/* server-side decoration (SSD) */
.ssd decoration,
.ssd decoration:backdrop {
  background-color: @titlebar_bg_color;
  border-radius: 0 0 0 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23);
}

/* controls borders/shadows around pop-up menus: */
.csd.popup decoration {
  box-shadow: none;
}

tooltip.csd decoration {
  box-shadow: none;
}

messagedialog.csd decoration {
  border-radius: 0;
  background-color: @theme_bg_color;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.13);
}

/* non-transparent CSD */
.solid-csd decoration {
  margin: 1px;
  border: none;
  box-shadow: inset 0 0 0 1px @titlebar_bg_color;
}

.solid-csd decoration:backdrop {
  box-shadow: inset 0 0 0 1px @titlebar_inactive_color;
}

/*
**********
overshoot and undershoot
**********
*/
overshoot.top {
  background-image: -gtk-gradient(radial, center top, 0, center top, 0.6, from(rgba(127, 127, 127, 0.2)), to(rgba(127, 127, 127, 0)));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

overshoot.bottom {
  background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.6, from(rgba(127, 127, 127, 0.2)), to(rgba(127, 127, 127, 0)));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

overshoot.left {
  background-image: -gtk-gradient(radial, left center, 0, left center, 0.6, from(rgba(127, 127, 127, 0.2)), to(rgba(127, 127, 127, 0)));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

overshoot.right {
  background-image: -gtk-gradient(radial, right center, 0, right center, 0.6, from(rgba(127, 127, 127, 0.2)), to(rgba(127, 127, 127, 0)));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

undershoot.top {
  background-color: transparent;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
  padding-top: 1px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: center top;
}

undershoot.bottom {
  background-color: transparent;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
  padding-bottom: 1px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: center bottom;
}

undershoot.left {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
  padding-left: 1px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: left center;
}

undershoot.right {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
  padding-right: 1px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: right center;
}

.overlay-bar {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  padding: 3px 6px;
  margin: 3px;
}

.overlay-bar label {
  color: @theme_tooltip_fg_color;
}
