/*
**********
color definitions
**********
*/
/* test-color used to temporarily investigate theme colors: */
@define-color test_color rgb(255, 127, 191);

/* default color scheme; also, color names hardcoded in some GTK+ 3 applications: */
@define-color theme_bg_color #cccccc;
@define-color theme_fg_color #000000;

@define-color theme_base_color #f9f9f9;
@define-color theme_text_color #000000;

@define-color theme_selected_bg_color #547faa;
@define-color theme_selected_fg_color #ffffff; /* also sets the text color of XFCE's desktop icons */ 

@define-color theme_tooltip_bg_color #ffff7f;
@define-color theme_tooltip_fg_color #000000;

/* dark color scheme: */
@define-color dark_bg_color #bfbfbf;
@define-color dark_fg_color #000000;

/* border colors: */
@define-color dark_shadow #858585;
@define-color light_shadow #efefef;
@define-color focus_color #ffbf00;

/* miscellaneous colors used by GTK+ 3: */
@define-color info_bg_color #7fbfff;
@define-color info_fg_color #000000;

@define-color warning_bg_color #ff7f00;
@define-color warning_fg_color #000000;

@define-color question_bg_color #007fff;
@define-color question_fg_color #000000;

@define-color error_bg_color #ff0000;
@define-color error_fg_color #000000;

@define-color destructive_bg_color #7f0000;
@define-color destructive_fg_color #ffffff;

@define-color suggested_bg_color #3f3fff;
@define-color suggested_fg_color #ffffff;

@define-color error_color #ff0000;
@define-color link_color #0000ef;

/* widget colors: */
@define-color titlebar_bg_color #4a7fb4;
@define-color titlebar_fg_color #ffffff;

@define-color titlebar_bg_unfocused #acacac;
@define-color titlebar_fg_unfocused #656565;

@define-color toolbar_bg_color @dark_bg_color;
@define-color toolbar_fg_color @dark_fg_color;

@define-color menubar_bg_color @dark_bg_color;
@define-color menubar_fg_color @dark_fg_color;

@define-color menubar_selected_bg_color #5a7fa4;
@define-color menubar_selected_fg_color #ffffff;

@define-color menu_bg_color @theme_bg_color;
@define-color menu_fg_color @theme_fg_color;

/*
**********
base states
**********
*/
/* inherit colors from parent: */
* {
	background-color: inherit;
	color: inherit;
}

.background,
.gtkstyle-fallback {
	background-color: @theme_bg_color;
	color: @theme_fg_color;
}

.gtkstyle-fallback:active,
.gtkstyle-fallback:checked {
	background-color: shade(@theme_bg_color, 0.9);
	color: @theme_fg_color;
}

.gtkstyle-fallback:hover {
	background-color: shade(@theme_bg_color, 1.1);
	color: @theme_fg_color;
}

.gtkstyle-fallback:hover,
:hover {
	-gtk-icon-effect: highlight;
}

.gtkstyle-fallback:disabled {
	background-color: shade(@theme_bg_color, 0.85);
}

.gtkstyle-fallback:disabled,
:disabled {
	color: mix(@theme_fg_color, @theme_bg_color, 0.5);
	-gtk-icon-effect: dim;
}

.gtkstyle-fallback:selected,
:selected,
selection {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

box,
grid,
image,
label {
	background-color: transparent;
}

/*
**********
button and slider
**********
*/
button, /* unpressed button */
slider {
	border: 2px outset @dark_shadow;
	background-color: @theme_bg_color;
	color: @theme_fg_color;
}

button {
	padding: 3px;
}

/* pressed button: */
button:active,
button:checked {
	border-style: inset;
	background-color: shade(@theme_bg_color, 0.9);
}

button:hover,
slider:hover {
	background-color: shade(@theme_bg_color, 1.1);
}

button:disabled,
slider:disabled {
	background-color: shade(@theme_bg_color, 0.85);
}

button:focus,
slider:focus {
	box-shadow: inset 0 0 0 1px @focus_color;
}

/*
**********
action buttons
**********
*/
.destructive-action {
	background-color: @destructive_bg_color;
	color: @destructive_fg_color;
}

.destructive-action:active,
.destructive-action:checked {
	background-color: shade(@destructive_bg_color, 0.9);
}

.destructive-action:hover {
	background-color: shade(@destructive_bg_color, 1.1);
}

.destructive-action:disabled {
	background-color: shade(@destructive_bg_color, 0.85);
}

.suggested-action {
	background-color: @suggested_bg_color;
	color: @suggested_fg_color;
}

.suggested-action:active,
.suggested-action:checked {
	background-color: shade(@suggested_bg_color, 0.9);
}

.suggested-action:hover {
	background-color: shade(@suggested_bg_color, 1.1);
}

.suggested-action:disabled {
	background-color: shade(@suggested_bg_color, 0.85);
}

/*
**********
notices and special buttons
**********
*/
infobar {
	border: 2px solid shade(#ffff00, 0.8);
	background-color: #ffff00;
	color: black;
}

.info {
	border-color: shade(@info_bg_color, 0.8);
	background-color: @info_bg_color;
	color: @info_fg_color;
}

.info button {
	background-color: @info_bg_color;
	color: @info_fg_color;
}

.info button:active,
.info button:checked {
	background-color: shade(@info_bg_color, 0.9);
}

.info button:hover {
	background-color: shade(@info_bg_color, 1.1);
}

.info button:disabled {
	background-color: shade(@info_bg_color, 0.85);
}

.warning {
	border-color: shade(@warning_bg_color, 0.8);
	background-color: @warning_bg_color;
	color: @warning_fg_color;
}

.warning button {
	background-color: @warning_bg_color;
	color: @warning_fg_color;
}

.warning button:active,
.warning button:checked {
	background-color: shade(@warning_bg_color, 0.9);
}

.warning button:hover {
	background-color: shade(@warning_bg_color, 1.1);
}

.warning button:disabled {
	background-color: shade(@warning_bg_color, 0.85);
}

.question {
	border-color: shade(@question_bg_color, 0.8);
	background-color: @question_bg_color;
	color: @question_fg_color;
}

.question button {
	background-color: @question_bg_color;
	color: @question_fg_color;
}

.question button:active,
.question button:checked {
	background-color: shade(@question_bg_color, 0.9);
}

.question button:hover {
	background-color: shade(@question_bg_color, 1.1);
}

.question button:disabled {
	background-color: shade(@question_bg_color, 0.85);
}

.error {
	border-color: shade(@error_bg_color, 0.8);
	background-color: @error_bg_color;
	color: @error_fg_color;
}

.error button {
	background-color: @error_bg_color;
	color: @error_fg_color;
}

.error button:active,
.error button:checked {
	background-color: shade(@error_bg_color, 0.9);
}

.error button:hover {
	background-color: shade(@error_bg_color, 1.1);
}

.error button:disabled {
	background-color: shade(@error_bg_color, 0.85);
}

/*
**********
check and radio
**********
*/
checkbutton:hover,
radiobutton:hover {
	background-color: alpha(white, 0.41);
}

check,
radio {
	margin: 3px;
	min-height: 13px;
	min-width: 13px;
	border: 1px solid black;
	background-color: white;
	color: black;
	-gtk-icon-shadow: none;
	-gtk-icon-source: none;
}

radio {
	border-radius: 50%;
}

check:focus,
radio:focus,
check:focus:selected,
radio:focus:selected {
	border-color: @focus_color;
	background-color: white;
	color: black;
}

check:disabled,
radio:disabled,
check:disabled:selected,
radio:disabled:selected {
	background-color: shade(@theme_bg_color, 0.95);
}

check:active,
check:checked {
	-gtk-icon-source: -gtk-icontheme('object-select-symbolic');
}

radio:active,
radio:checked {
	-gtk-icon-palette: success black;
	-gtk-icon-source: -gtk-icontheme('media-record-symbolic');
}

check:indeterminate,
radio:indeterminate {
	-gtk-icon-source: -gtk-icontheme('list-remove-symbolic');
}

/*
**********
arrow
**********
*/
arrow {
	min-height: 16px;
	min-width: 16px;
	color: currentColor;
	-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
}

arrow:hover {
	color: #00ff00;
}

arrow:active {
	color: #ff00ff;
}

/*
**********
expander
**********
*/
expander arrow {
	-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
}

expander arrow:checked {
	-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
}

/*
**********
links
**********
*/
:link {
	color: @link_color;
}

:link:hover {
	color: mix(@link_color, #00ff00, 0.5);
}

button:link label,
button:visited label {
	text-decoration-line: underline;
}

/*
**********
switch
**********
*/
switch {
	background-color: shade(@theme_bg_color, 0.95);
}

switch:checked {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

switch:disabled {
	background-color: shade(@theme_bg_color, 0.9);
}

switch slider {
	min-height: 18px;
	min-width: 18px;
}

/*
**********
scale
**********
*/
scale {
	padding: 9px;
}

scale trough {
	margin: 1px;
	border: 2px inset @dark_shadow;
}

scale trough:disabled {
	background-color: alpha(black, 0.15);
}

/* affects the scale trough on the lesser-value side of the slider: */
scale highlight {
	background-color: alpha(#00ff00, 0.125);
}

marks {
	color: alpha(currentColor, 0.7);
}

scale indicator {
	min-height: 6px;
	min-width: 1px;
}

scale.vertical indicator {
	min-height: 1px;
	min-width: 6px;
}

scale slider {
	margin: -6px;
	min-height: 17px;
	min-width: 12px;
}

scale.vertical slider {
	min-height: 12px;
	min-width: 17px;
}

/*
**********
progressbar and levelbar
**********
*/
progressbar trough {
	padding: 2px;
	border: 1px inset @dark_shadow;
	background-color: @dark_bg_color;
}

progressbar progress {
	border: 1px solid black;
	background-color: #3fbf3f;
}

levelbar trough {
	padding: 1px;
	border: 1px solid shade(@theme_bg_color, 0.5);
	background-color: shade(@theme_bg_color, 0.85);
}

/* for levelbar: */
block {
	padding: 2px;
	border: 2px solid shade(#0000ff, 0.8);
	background-color: #0000ff;
}

block.empty {
	border-color: alpha(@theme_fg_color, 0.1);
	background: none;
}

block.low {
	border-color: shade(#ff0000, 0.8);
	background-image: linear-gradient(to bottom, shade(#ff0000, 1.2), #ff0000 75%, shade(#ff0000, 0.9));
}

block.high {
	border-color: shade(#00ff00, 0.8);
	background-image: linear-gradient(to bottom, shade(#00ff00, 1.2), #00ff00 75%, shade(#00ff00, 0.9));
}

/*
**********
entry
**********
*/
/* nota bene: if one experiences wiggle-worm behavior with the entry fields, experiment with increasing the 'min-height' value: */
entry {
	min-height: 22px;
	min-width: 24px;
	padding: 0 1px;
	border: 2px inset @dark_shadow;
	background-color: @theme_base_color;
	color: @theme_text_color;
}

entry:disabled {
	background-color: shade(@theme_bg_color, 0.95);
	color: mix(@theme_text_color, @theme_base_color, 0.5);
}

progress {
	background-color: #00ff7f;
}

/*
**********
frame
**********
*/
.frame {
	background: none;
}

border {
	border: 2px groove @dark_shadow;
}

border.flat {
	border: none;
}

/*
**********
notebook
**********
*/
notebook {
	background-color: @theme_bg_color;
}

/* the color #000000 is displayed for some tabbed pages when 'background-color' other than 'background-color: transparent;' is used: */
notebook.frame > stack,
notebook > stack:not(:only-child) {
	border: 2px outset @dark_shadow;
}

tab {
	padding: 4px;
	border: 2px outset @dark_shadow;
	background-color: shade(@theme_bg_color, 0.9);
	color: shade(@theme_bg_color, 0.25);
	font-weight: bold;
}

tab:checked {
	background-color: @theme_bg_color;
}

.top tab {
	margin-top: 1px;
	border-bottom: none;
}

.top tab:checked {
	margin: 0 0 -2px 0;
	padding-bottom: 7px;
}

.bottom tab {
	margin-bottom: 1px;
	border-top: none;
}

.bottom tab:checked {
	margin: -2px 0 0 0;
	padding-top: 7px;
}

.left tab {
	margin-left: 1px;
	border-right: none;
}

.left tab:checked {
	margin: 0 -2px 0 0;
	padding-right: 7px;
}

.right tab {
	margin-right: 1px;
	border-left: none;
}

.right tab:checked {
	margin: 0 0 0 -2px;
	padding-left: 7px;
}

/* close button: */
tab button,
tab button:hover,
tab button:disabled {
	border: none;
	background: none;
}

.dnd {
	border: 2px solid @theme_selected_bg_color;
}

arrow.down,
arrow.up {
	padding: 1px;
}

.top arrow.down,
.bottom arrow.down {
	-gtk-icon-source: -gtk-icontheme('pan-end-symbolic-rtl');
}

.top arrow.up,
.bottom arrow.up {
	-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
}

.left arrow.down,
.right arrow.down {
	-gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
}

.left arrow.up,
.right arrow.up {
	-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
}

/*
**********
scrollbar
**********
*/
scrollbar {
	background-color: shade(@theme_bg_color, 0.95);
}

scrollbar trough {
	background-color: shade(@theme_bg_color, 0.85);
}

scrollbar slider {
	min-height: 40px;
	min-width: 10px;
}

scrollbar.horizontal slider {
	min-height: 10px;
	min-width: 40px;
}

scrollbar.vertical button {
	min-height: 6px;
	-gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
}

scrollbar.vertical button.down {
	-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
}

scrollbar.horizontal button {
	min-width: 6px;
	-gtk-icon-source: -gtk-icontheme('pan-end-symbolic-rtl');
}

scrollbar.horizontal button.down {
	-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
}

/*
**********
menubar
**********
*/
menubar {
	-GtkWidget-window-dragging: 1;
	background-color: @menubar_bg_color;
	color: @menubar_fg_color;
}

menubar menuitem {
	padding: 3px 5px;
}

menubar menuitem:hover {
	background-color: @menubar_selected_bg_color;
	color: @menubar_selected_fg_color;
}

/*
**********
menu
**********
*/
menu {
	padding: 3px;
	border: 2px outset @dark_shadow;
	background-color: @menu_bg_color;
	color: @menu_fg_color;
}

/* affects XFCE Mousepad's right mouse-button menu: */
.context-menu {
	font: initial;
}

menu arrow.top {
	border-bottom: 1px solid shade(@menu_bg_color, 0.7);
	-gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
}

menu arrow.bottom {
	margin-top: 6px;
	margin-bottom: -6px;
	border-top: 1px solid shade(@menu_bg_color, 0.7);
	-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
}

/*
**********
menuitem
**********
*/
menu menuitem {
	padding: 3px;
}

menu menuitem:hover {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

menu menuitem:disabled {
	color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

menuitem arrow:dir(ltr) {
	-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
}

menuitem arrow:dir(rtl) {
	-gtk-icon-source: -gtk-icontheme('pan-end-symbolic-rtl');
}

/* text of keyboard shortcuts: */
accelerator {
	color: alpha(@menu_fg_color, 0.6);
}

/*
**********
popover
**********
*/
popover.background {
	padding: 4px;
	border: 2px outset @dark_shadow;
	background-color: shade(@menu_bg_color, 1.075);
}

modelbutton {
	padding: 2px;
}

modelbutton check,
modelbutton radio {
	margin: 2px 3px;
}

modelbutton:hover {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

/*
**********
viewports
**********
*/
.view, /* affects the main fields of the file-chooser, Thunar, Mousepad and Wisker Menu; and the top section of the "Visual" page of GTK+ 3 Inspector and most of its other pages' main fields */
.view text, /* affects GNOME LaTeX and Firefox */
list, /* affects the sidebars in the file-chooser and Pamac; and the bottom two sections of the "Visual" page of GTK+ 3 Inspector and all the sections on its "General" page */
textview {
	background-color: @theme_base_color;
	color: @theme_text_color;
}

row,
assistant .sidebar label {
	padding: 3px;
}

row:nth-child(odd) {
	background-color: shade(@theme_base_color, 0.925);
}

.view:selected, /* affects selected items in Thunar's main field */
.view text:selected,
row:selected, /* affects Pamac's sidebar; should come after 'row:nth-child(odd)' */
treeview.view:selected, /* affects Thunar's sidebar */
assistant .sidebar label.highlight {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

row:hover,
iconview.view:hover {
	background-color: shade(@theme_selected_bg_color, 1.1);
	color: @theme_selected_fg_color;
}

.view:disabled,
.view text:disabled,
list:disabled {
	background-color: shade(@theme_base_color, 0.925);
	color: mix(@theme_text_color, @theme_base_color, 0.5);
}

/*
**********
treeview
**********
*/
/* background only works with GNOME Klotski's "Change Puzzle" popover menu if formulated as 'image': */
treeview.view:hover {
	background-image: image(shade(@theme_selected_bg_color, 1.1));
	color: @theme_selected_fg_color;
}

treeview entry {
	background-color: #bfffff;
}

/*
**********
interfacial bars
**********
*/
.sidebar, /* affects the sidebars in Catfish and 'assistant' */
.sidebar .view /* affects the sidebars in Thunar and Catfish */ {
	background-color: shade(@theme_bg_color, 1.05);
	color: @theme_fg_color;
}

toolbar {
	padding: 4px;
	background-color: @toolbar_bg_color;
	color: @toolbar_fg_color;
}

actionbar {
	padding: 4px;
	border-top: 2px groove @dark_shadow;
}

searchbar {
	border-bottom: 2px groove @dark_shadow;
	background-color: mix(@theme_bg_color, @dark_bg_color, 0.5);
}

/* nota bene: if one experiences wiggle-worm behavior with the statusbar fields, experiment with increasing the 'min-height' value: */
statusbar {
	min-height: 29px;
}

/*
**********
color-chooser
**********
*/
colorswatch {
	border: 1px solid @dark_shadow;
	background-color: white;
	color: black;
}

/* for colorswatch: */
overlay {
	background: none;
	color: inherit;
}

overlay:selected {
	background: none;
	-gtk-icon-shadow: 0 0 2px black;
}

overlay:hover {
	background-color: alpha(@theme_selected_bg_color, 0.5);
}

/*
**********
calendar
**********
*/
calendar {
	padding: 2px;
}

calendar:indeterminate {
	color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

calendar.view,
calendar.header {
	border: 2px groove @dark_shadow;
	background: none;
}

calendar.highlight {
	color: shade(@theme_selected_bg_color, 0.9);
}

/*
**********
application notification
**********
*/
.app-notification {
	padding: 8px;
	border: 1px solid @dark_shadow;
	border-top: none;
	background-color: @theme_base_color;
	color: @theme_text_color;
}

.app-notification border {
	border: none;
}

/*
**********
tooltip
**********
*/
/* also affects text color of some tabbed pages: */
tooltip * {
	color: @theme_tooltip_fg_color;
}

tooltip.background {
	border: 1px solid @theme_tooltip_fg_color;
	background-color: @theme_tooltip_bg_color;
}

/*
**********
client-side decorations (CSD)
**********
*/
.titlebar {
	padding: 2px;
	background-color: @titlebar_bg_color;
	color: @titlebar_fg_color;
}

.title,
.subtitle {
	padding: 0 4px;
	text-shadow: 1px 1px alpha(black, 0.8);
}

.title {
	font-weight: bold;
}

.subtitle {
	font-size: smaller;
}

.titlebar:backdrop,
.title:backdrop,
.subtitle:backdrop {
	background-color: @titlebar_bg_unfocused;
	color: @titlebar_fg_unfocused;
	text-shadow: none;
}

.titlebutton {
	padding: 0;
}

/* controls borders/shadows around windows: */
decoration {
	margin: 1px;
	box-shadow: 0 0 0 1px @titlebar_bg_color;
}

decoration:backdrop {
	box-shadow: 0 0 0 1px @titlebar_bg_unfocused;
}

/* non-transparent CSD: */
.solid-csd decoration {
	margin: 1px;
	box-shadow: inset 0 0 0 1px @titlebar_bg_color;
}

.solid-csd decoration:backdrop {
	box-shadow: inset 0 0 0 1px @titlebar_bg_unfocused;
}

.popup decoration, /* affects 'menu' */
tooltip.csd decoration {
	box-shadow: none;
}

/*
**********
symbolic images
**********
*/
image {
	color: alpha(currentColor, 0.7);
}

image:hover {
	color: #00ff00;
}

image:disabled {
	color: alpha(currentColor, 0.3);
}

/*
**********
spinner
**********
*/
@keyframes spin {
	to {
		-gtk-icon-transform: rotate(1turn);
	}
}

spinner:checked {
	animation: spin 1s linear infinite;
}

spinner:disabled {
	opacity: 0.5;
}

/*
**********
miscellanea
**********
*/
/* rectangle drawn around icons being selected: */
rubberband,
.rubberband {
	border: 1px solid shade(@theme_selected_bg_color, 0.9);
	background-color: alpha(@theme_selected_bg_color, 0.3);
}

paper {
	border: 1px solid @dark_shadow;
	background-color: white;
	color: black;
}

/* color of Nautilus file-manager main-window background: */
.nautilus-window scrolledwindow {
	background-color: @theme_base_color;
}

/*
**********
separators
**********
*/
separator.horizontal,
menu separator {
	margin: 1px;
	border-top: 1px solid @dark_shadow;
	border-bottom: 1px solid @light_shadow;
}

separator.vertical,
toolbar separator {
	margin: 1px;
	border-left: 1px solid @dark_shadow;
	border-right: 1px solid @light_shadow;
}

toolbar separator {
	margin: 3px;
}

paned > separator {
	min-height: 2px;
	min-width: 2px;
	background-image: image(mix(@theme_selected_bg_color, @dark_bg_color, 0.25));
	-gtk-icon-source: none;
}

/*
**********
overshoot and undershoot
**********
*/
overshoot {
	background-color: transparent;
	background-image: -gtk-gradient(radial, center top, 0, center top, 0.6, from(alpha(#7f7f7f, 0.2)), to(alpha(#7f7f7f, 0)));
}

overshoot.bottom {
	background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.6, from(alpha(#7f7f7f, 0.2)), to(alpha(#7f7f7f, 0)));
}

overshoot.left {
	background-image: -gtk-gradient(radial, left center, 0, left center, 0.6, from(alpha(#7f7f7f, 0.2)), to(alpha(#7f7f7f, 0)));
}

overshoot.right {
	background-image: -gtk-gradient(radial, right center, 0, right center, 0.6, from(alpha(#7f7f7f, 0.2)), to(alpha(#7f7f7f, 0)));
}

undershoot {
	padding: 1px;
	background-color: transparent;
	background-origin: content-box;
	background-image: linear-gradient(to left, alpha(white, 0.2) 50%, alpha(black, 0.2) 50%);
	background-size: 10px 1px;
	background-repeat: repeat-x;
	background-position: center top;
}

undershoot.bottom {
	background-position: center bottom;
}

undershoot.left,
undershoot.right {
	background-image: linear-gradient(to top, alpha(white, 0.2) 50%, alpha(black, 0.2) 50%);
	background-size: 1px 10px;
	background-repeat: repeat-y;
	background-position: left center;
}

undershoot.right {
	background-position: right center;
}
